* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 10px;
    padding: 10px;
}

.subtitulo {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    margin: 30px;
    text-align: center;
}

.parrafo {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 20px;
}


.articulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    padding: 1px;
    margin: 10px;
}

.foto img{
    max-width: 80%;
    max-height: 100%;
    margin: 5px;
    border-radius: 10px;
    border: 3px solid #D0B8A8;
}

.foto, .videoYoutube {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.videoYoutube iframe {
    border: #D0B8A8 solid;
}

/*Media queries*/
@media screen and (max-width: 480px) {
    .navbar a {
        display: none;
    }
    .navbar a.icon {
    float: right;
    display: block;
    }
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
    .titulo {
        font-size: 1.2rem;
    }
    .subtitulo1 {
        font-size: 15px;
    }
}

@media screen and (max-width:425px) {
    .logo1 img {
        width: 3.5em;
        float: left;
    margin-bottom: 5px;
    }
    .logo2 img {
        width: 3.5em;
        float: right;
    margin-bottom: 5px;
    }
}
