* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Intro {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
}


.subtitulo {
    color: black;
    font-family: 'Courgette', cursive;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    text-decoration: none;
}

/*Estilos de la galeria*/
.galeria {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
    margin-top: 8px;
}

.imagen-galeria {
    max-width: 90%;
    max-height: 110%;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid #BB5A5A;
    box-shadow: 0 5px 10px #ac4444;
}


.iruya, .capital, .cafayate, .cachi{
    color: black;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    margin:15px;
}
.leer-mas {
    background-color: #eb8c6c;
    width: 80px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 5px 10px #BB5A5A;
}
.leer-mas:hover{
    transform:scale(1.2);
    cursor: pointer;
}

/*Estilos para climaApi*/

.pronostico {
    color: black;
    font-family: 'Courgette', cursive;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    text-decoration: none;
    margin: 5px;
}

#clima-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.5rem;
    margin: 10px;
    
}

/*Media queries*/

@media screen and (max-width: 480px) {
    .navbar a {
        display: none;
    }
    .navbar a.icon {
    float: right;
    display: block;
    }
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
    .titulo {
        font-size: 1.2rem;
    }
    .subtitulo1 {
        font-size: 15px;
    }
}

@media screen and (max-width:425px) {
    .logo1 img {
        width: 3.5em;
        float: left;
    margin-bottom: 5px;
    }
    .logo2 img {
        width: 3.5em;
        float: right;
    margin-bottom: 5px;
    }
}



















